Flow 2
[{"id":"5a5a0b.83fa85f4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5b4a194d.66b6e8","type":"inject","z":"5a5a0b.83fa85f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":140,"wires":[["e29415dc.033d58"]]},{"id":"e29415dc.033d58","type":"function","z":"5a5a0b.83fa85f4","name":"Payload","func":"msg.headers={\n    deviceKey:\"Gj8JlRf75IfsbRhP\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["1a00d460.6dc43c"]]},{"id":"963f4bb4.f43138","type":"http response","z":"5a5a0b.83fa85f4","name":"","statusCode":"","headers":{},"x":680,"y":200,"wires":[]},{"id":"96231f41.f2432","type":"debug","z":"5a5a0b.83fa85f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":260,"wires":[]},{"id":"1a00d460.6dc43c","type":"http request","z":"5a5a0b.83fa85f4","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DBDPi57K/datachannels/Temperature/datapoints.csv","tls":"","x":470,"y":200,"wires":[["963f4bb4.f43138","96231f41.f2432"]]}]
