Flow 5
[{"id":"808cb873.656ed8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"fd008730.90c848","type":"http in","z":"808cb873.656ed8","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":170,"y":140,"wires":[["5701d0e4.29019","96a34034.efe58"]]},{"id":"5701d0e4.29019","type":"function","z":"808cb873.656ed8","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["e9a0dff7.1b357"]]},{"id":"e9a0dff7.1b357","type":"rpi-gpio out","z":"808cb873.656ed8","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":620,"y":300,"wires":[]},{"id":"96a34034.efe58","type":"function","z":"808cb873.656ed8","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["f58aceea.4ed5e","f9ee2dde.71a58"]]},{"id":"f58aceea.4ed5e","type":"http response","z":"808cb873.656ed8","name":"","statusCode":"","headers":{},"x":830,"y":120,"wires":[]},{"id":"f9ee2dde.71a58","type":"debug","z":"808cb873.656ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":280,"wires":[]},{"id":"86d25025.018bf","type":"http in","z":"808cb873.656ed8","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":200,"y":360,"wires":[["686e2b0e.cba4b4","e77eedd8.38eb6"]]},{"id":"686e2b0e.cba4b4","type":"function","z":"808cb873.656ed8","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":360,"wires":[["e9a0dff7.1b357"]]},{"id":"e77eedd8.38eb6","type":"function","z":"808cb873.656ed8","name":"Return Status","func":"msg.payload =\" GPOI5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["f58aceea.4ed5e","f9ee2dde.71a58"]]}]
