Flow4
[{"id":"32bc970.6b9066a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9ef2dd63.6197c","type":"http in","z":"32bc970.6b9066a","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":190,"y":160,"wires":[["b2be81.a4d6d18"]]},{"id":"b2be81.a4d6d18","type":"function","z":"32bc970.6b9066a","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["32eb3f01.4eead","21a88f9.b856e7"]]},{"id":"5f607f9f.2f308","type":"function","z":"32bc970.6b9066a","name":"Set GPIO","func":"global.set(\"GPIO\" , msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["21a88f9.b856e7"]]},{"id":"3e2beac9.3dadb6","type":"rpi-gpio in","z":"32bc970.6b9066a","name":"GPIO4","pin":"7","intype":"up","debounce":"15","read":true,"x":190,"y":240,"wires":[["5f607f9f.2f308"]]},{"id":"32eb3f01.4eead","type":"http response","z":"32bc970.6b9066a","name":"","statusCode":"","headers":{},"x":670,"y":160,"wires":[]},{"id":"21a88f9.b856e7","type":"debug","z":"32bc970.6b9066a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":280,"wires":[]}]
