Flow 3
[{"id":"6577c7b7.d9c498","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"924a0df7.c6c3d","type":"inject","z":"6577c7b7.d9c498","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["18f7a2c4.c4660d"]]},{"id":"18f7a2c4.c4660d","type":"function","z":"6577c7b7.d9c498","name":"Payload","func":"msg.headers={\n    deviceKey:\"Gj8JlRf75IfsbRhP\"\n};\nmsg.payload=\"Temperature,,10\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["9c37e82b.4d4878"]]},{"id":"9c37e82b.4d4878","type":"http request","z":"6577c7b7.d9c498","name":"","method":"POST","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DBDPi57K/datachannels/Temperature/datapoints.csv","tls":"","x":490,"y":120,"wires":[["321e6d7e.2357c2","44990cf7.920de4"]]},{"id":"321e6d7e.2357c2","type":"http response","z":"6577c7b7.d9c498","name":"","statusCode":"","headers":{},"x":650,"y":120,"wires":[]},{"id":"44990cf7.920de4","type":"debug","z":"6577c7b7.d9c498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":180,"wires":[]}]
