NodeRedCode.py
[{"id":"77351328.cdea8c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"16d1e7a0.f991b8","type":"rpi-gpio out","z":"77351328.cdea8c","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":670,"y":140,"wires":[]},{"id":"2a039013.a32c1","type":"debug","z":"77351328.cdea8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":20,"wires":[]},{"id":"d15eae7e.fd4dd","type":"switch","z":"77351328.cdea8c","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":180,"wires":[["b2602b48.623c78"],["cd522d0d.3c9f8"]]},{"id":"b2602b48.623c78","type":"change","z":"77351328.cdea8c","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[["16d1e7a0.f991b8"]]},{"id":"99589dc5.fb58","type":"rpi-gpio in","z":"77351328.cdea8c","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":110,"y":120,"wires":[["d15eae7e.fd4dd","2a039013.a32c1"]]},{"id":"cd522d0d.3c9f8","type":"change","z":"77351328.cdea8c","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":180,"wires":[["16d1e7a0.f991b8"]]}]



[{"id":"5a5a0b.83fa85f4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5b4a194d.66b6e8","type":"inject","z":"5a5a0b.83fa85f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":140,"wires":[["e29415dc.033d58"]]},{"id":"e29415dc.033d58","type":"function","z":"5a5a0b.83fa85f4","name":"Payload","func":"msg.headers={\n    deviceKey:\"Gj8JlRf75IfsbRhP\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["1a00d460.6dc43c"]]},{"id":"963f4bb4.f43138","type":"http response","z":"5a5a0b.83fa85f4","name":"","statusCode":"","headers":{},"x":680,"y":200,"wires":[]},{"id":"96231f41.f2432","type":"debug","z":"5a5a0b.83fa85f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":260,"wires":[]},{"id":"1a00d460.6dc43c","type":"http request","z":"5a5a0b.83fa85f4","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DBDPi57K/datachannels/Temperature/datapoints.csv","tls":"","x":470,"y":200,"wires":[["963f4bb4.f43138","96231f41.f2432"]]}]



[{"id":"6577c7b7.d9c498","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"924a0df7.c6c3d","type":"inject","z":"6577c7b7.d9c498","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["18f7a2c4.c4660d"]]},{"id":"18f7a2c4.c4660d","type":"function","z":"6577c7b7.d9c498","name":"Payload","func":"msg.headers={\n    deviceKey:\"Gj8JlRf75IfsbRhP\"\n};\nmsg.payload=\"Temperature,,10\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["9c37e82b.4d4878"]]},{"id":"9c37e82b.4d4878","type":"http request","z":"6577c7b7.d9c498","name":"","method":"POST","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DBDPi57K/datachannels/Temperature/datapoints.csv","tls":"","x":490,"y":120,"wires":[["321e6d7e.2357c2","44990cf7.920de4"]]},{"id":"321e6d7e.2357c2","type":"http response","z":"6577c7b7.d9c498","name":"","statusCode":"","headers":{},"x":650,"y":120,"wires":[]},{"id":"44990cf7.920de4","type":"debug","z":"6577c7b7.d9c498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":180,"wires":[]}]



[{"id":"32bc970.6b9066a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9ef2dd63.6197c","type":"http in","z":"32bc970.6b9066a","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":190,"y":160,"wires":[["b2be81.a4d6d18"]]},{"id":"b2be81.a4d6d18","type":"function","z":"32bc970.6b9066a","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["32eb3f01.4eead","21a88f9.b856e7"]]},{"id":"5f607f9f.2f308","type":"function","z":"32bc970.6b9066a","name":"Set GPIO","func":"global.set(\"GPIO\" , msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["21a88f9.b856e7"]]},{"id":"3e2beac9.3dadb6","type":"rpi-gpio in","z":"32bc970.6b9066a","name":"GPIO4","pin":"7","intype":"up","debounce":"15","read":true,"x":190,"y":240,"wires":[["5f607f9f.2f308"]]},{"id":"32eb3f01.4eead","type":"http response","z":"32bc970.6b9066a","name":"","statusCode":"","headers":{},"x":670,"y":160,"wires":[]},{"id":"21a88f9.b856e7","type":"debug","z":"32bc970.6b9066a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":280,"wires":[]}]



[{"id":"808cb873.656ed8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"fd008730.90c848","type":"http in","z":"808cb873.656ed8","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":170,"y":140,"wires":[["5701d0e4.29019","96a34034.efe58"]]},{"id":"5701d0e4.29019","type":"function","z":"808cb873.656ed8","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["e9a0dff7.1b357"]]},{"id":"e9a0dff7.1b357","type":"rpi-gpio out","z":"808cb873.656ed8","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":620,"y":300,"wires":[]},{"id":"96a34034.efe58","type":"function","z":"808cb873.656ed8","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["f58aceea.4ed5e","f9ee2dde.71a58"]]},{"id":"f58aceea.4ed5e","type":"http response","z":"808cb873.656ed8","name":"","statusCode":"","headers":{},"x":830,"y":120,"wires":[]},{"id":"f9ee2dde.71a58","type":"debug","z":"808cb873.656ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":280,"wires":[]},{"id":"86d25025.018bf","type":"http in","z":"808cb873.656ed8","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":200,"y":360,"wires":[["686e2b0e.cba4b4","e77eedd8.38eb6"]]},{"id":"686e2b0e.cba4b4","type":"function","z":"808cb873.656ed8","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":360,"wires":[["e9a0dff7.1b357"]]},{"id":"e77eedd8.38eb6","type":"function","z":"808cb873.656ed8","name":"Return Status","func":"msg.payload =\" GPOI5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["f58aceea.4ed5e","f9ee2dde.71a58"]]}]
