NodeRedCode.py
[{"id":"77351328.cdea8c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"16d1e7a0.f991b8","type":"rpi-gpio out","z":"77351328.cdea8c","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":670,"y":140,"wires":[]},{"id":"2a039013.a32c1","type":"debug","z":"77351328.cdea8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":20,"wires":[]},{"id":"d15eae7e.fd4dd","type":"switch","z":"77351328.cdea8c","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":180,"wires":[["b2602b48.623c78"],["cd522d0d.3c9f8"]]},{"id":"b2602b48.623c78","type":"change","z":"77351328.cdea8c","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[["16d1e7a0.f991b8"]]},{"id":"99589dc5.fb58","type":"rpi-gpio in","z":"77351328.cdea8c","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":110,"y":120,"wires":[["d15eae7e.fd4dd","2a039013.a32c1"]]},{"id":"cd522d0d.3c9f8","type":"change","z":"77351328.cdea8c","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":180,"wires":[["16d1e7a0.f991b8"]]}]



[{"id":"5a5a0b.83fa85f4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5b4a194d.66b6e8","type":"inject","z":"5a5a0b.83fa85f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":140,"wires":[["e29415dc.033d58"]]},{"id":"e29415dc.033d58","type":"function","z":"5a5a0b.83fa85f4","name":"Payload","func":"msg.headers={\n    deviceKey:\"Gj8JlRf75IfsbRhP\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["1a00d460.6dc43c"]]},{"id":"963f4bb4.f43138","type":"http response","z":"5a5a0b.83fa85f4","name":"","statusCode":"","headers":{},"x":680,"y":200,"wires":[]},{"id":"96231f41.f2432","type":"debug","z":"5a5a0b.83fa85f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":260,"wires":[]},{"id":"1a00d460.6dc43c","type":"http request","z":"5a5a0b.83fa85f4","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DBDPi57K/datachannels/Temperature/datapoints.csv","tls":"","x":470,"y":200,"wires":[["963f4bb4.f43138","96231f41.f2432"]]}]



[{"id":"6577c7b7.d9c498","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"924a0df7.c6c3d","type":"inject","z":"6577c7b7.d9c498","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["18f7a2c4.c4660d"]]},{"id":"18f7a2c4.c4660d","type":"function","z":"6577c7b7.d9c498","name":"Payload","func":"msg.headers={\n    deviceKey:\"Gj8JlRf75IfsbRhP\"\n};\nmsg.payload=\"Temperature,,10\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["9c37e82b.4d4878"]]},{"id":"9c37e82b.4d4878","type":"http request","z":"6577c7b7.d9c498","name":"","method":"POST","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DBDPi57K/datachannels/Temperature/datapoints.csv","tls":"","x":490,"y":120,"wires":[["321e6d7e.2357c2","44990cf7.920de4"]]},{"id":"321e6d7e.2357c2","type":"http response","z":"6577c7b7.d9c498","name":"","statusCode":"","headers":{},"x":650,"y":120,"wires":[]},{"id":"44990cf7.920de4","type":"debug","z":"6577c7b7.d9c498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":180,"wires":[]}]
